### Imports

In [ ]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import numpy as np

%matplotlib inline

### csvs and Dataframes

In [12]:
derecho_911 = pd.read_csv('../Dataread/data/911_Phone Calls_Derecho_050320 050420.csv')
tornado_911 = pd.read_csv('../Dataread/data/911_Phone_Calls_Tornado_030320.csv')
disp_derecho = pd.read_csv('../Dataread/data/Computer Aided Dispatch Data_Derecho Incidents 050320-050420.csv', skiprows = 2)
disp_tornado = pd.read_csv('../Dataread/data/Computer Aided Dispatch Data_Tornado Incidents 030320.csv', skiprows = 3)
sfamily2017 = pd.read_csv('../Dataread/data/2017 single family_final_with_sqft (1).csv')

### Data Overview

In [3]:
derecho_911.nunique()

Seizure DateTime       416
CallTypeId               1
ALI Latitude          1294
ALI Longitude         1307
Cell Tower Address     630
dtype: int64

In [4]:
derecho_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [5]:
tornado_911.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N

In [6]:
disp_tornado.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [7]:
disp_derecho.head()

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD

In [9]:
disp_derecho.IncidentTypeDescription1.value_counts()

ELECTRICAL HAZARD                              370
GENERAL ALARM COMMERCIAL   INDUSTRIAL BUILD     23
MVA INJURIES:                                    8
CARBON MONOXIDE ALARM HOUSE                      6
SMALL BUILDING INVESTIGATION                     6
                                              ...
HIGH RISE NATURAL GAS ODOR                       1
3RD TRIMESTER HEMORRHAGE                         1
OTHER PAIN                                       1
CHEST PAIN - ABNORMAL BREATHING                  1
CHEST PAIN - CLAMMY OR COLD SWEATS               1
Name: IncidentTypeDescription1, Length: 122, dtype: int64

In [10]:
disp_tornado.IncidentTypeDescription1.value_counts()

GENERAL ALARM COMMERCIAL   INDUSTRIAL BUILD                27
OUTSIDE ODOR                                               26
WIRES DOWN WITH NO SMOKE OR ARCING                         17
SMALL BUILDING INVESTIGATION                               15
ELECTRICAL HAZARD WITH OR NEAR WATER                       12
                                                           ..
PULL STATION ALARM HOUSE                                    1
ENTRAPMENT UNKNOWN SITUATION                                1
DIFFICULTY SPEAKING BETWEEN BREATHS OTHER LUNG PROBLEMS     1
ENTRAPMENT UNCONFIRMED  PERIPHERAL                          1
HIGH LIFE HAZARD   ODOR WITH PATIENT                        1
Name: IncidentTypeDescription1, Length: 90, dtype: int64

In [13]:
sfamily2017.head()

,APN,DistrictCode,Council District,AddressFullAddress,AddressCity,AddressPostalCode,2017 LAND,2017 IMPR,2017 TOTAL APPR,2017 TOTAL ASSD,FinishedArea
0,103020C01300CO,USD,24,276 WHITE BRIDGE PIKE 13,NASHVILLE,37209,10000,39600,49600,19840,567.0
1,103020C01400CO,USD,24,276 WHITE BRIDGE PIKE 14,NASHVILLE,37209,10000,45000,55000,13750,567.0
2,103020C01500CO,USD,24,276 WHITE BRIDGE PIKE 15,NASHVILLE,37209,10000,39600,49600,19840,567.0
3,103020C01600CO,USD,24,276 WHITE BRIDGE PIKE 16,NASHVILLE,37209,10000,45000,55000,13750,567.0
4,103020C01700CO,USD,24,276 WHITE BRIDGE PIKE 17,NASHVILLE,37209,10000,45000,55000,22000,567.0